/* Webkit */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Content */
.overlay {
  position: absolute;
  border-radius: 10px;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: 1s ease;
}

.text-block {
  position: absolute;
  bottom: 500px;
  right: 30px;
  background-color: transparent;
  text-align: left;
  color: rgb(255, 255, 255);

}

.summary {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    display: flex;
    align-items: center;
    margin-bottom:-50px;
    margin: auto;
    width: calc(100vw + 370px);
    height: 100vh;
}


/* Footer */
.jumbotron {
    position: absolute; 
    justify-content: left;
    background-color: #353b48;
    color: #dcdde1;
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    width: 100vw;
    margin-bottom: 0px;
    border-radius: 0%;
}
.jumbotron.footer {
    position: absolute;
    background-color: #353b48;
    color: #dcdde1;
    right:0px;
    display: flex;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 0%;
}

.team {
    margin-left: 120px;
    margin-top: 3px;
}

.links {
	display: flex;
	flex-direction: row;
    padding-right: 40px;
    margin-left: 350px;
}

.img {
    margin-right: 80px;
    font-size: 20px;
}

.fa {
    color: #2bcbba;
}

ul {
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  border-radius: 3px;
  margin: 0;
  padding: 1px ;
}

ul li:hover {
  background: #7784aa;
}

ul li label {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}