{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block scripts %}<link rel="stylesheet" type="text/css" href="../static/styles/homeloan.css">{{ super() }}
  <title>Apply for a Car Loan</title>
</head>
<body style="background-color: #a0d5df;">
  <!-- Navbar -->
  {% block navbar %}
    {{ super() }}
  {% endblock %}
  <!-- Content -->
  <div class="col-sm-8">
    <div class="summary flex">
      <h1 style="font-family: 'Courier New'"><center><b>CAR LOAN</b></center></h1>
    </div>
  </div>
  <br><br><br>
  <div class="card">
    <div class="card-body">
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>APPLY FOR A CAR LOAN</b></center></h1>
            <h2 style="font-family: 'Courier New'"><center><b>Prerequisites:</b></center></h2>
            <ul style="font-family: 'Courier New'">
              <li><b>Age:</b> <b>You must be at least 18 years old.</b></li>
              <li><b>Income:</b> <b>You must have a stable source of income.</b></li>
              <li><b>Accounts:</b> <b><u>You must have a savings account under our bank.</u></b></li>
              <li><b>Credit Score:</b> <b>A good credit score is essential.</b></li>
              <li><b>Vehicle Documents:</b> <b>You must have the necessary vehicle documents ready.</b></li>
            </ul>
            <h3 style="font-family: 'Courier New'"><center><b>Interest rates and time periods are as follows:</b></center></h3>
            <ul style="font-family: 'Courier New'">
              <li><b>3 months:</b> 5% per annum</li>
              <li><b>6 months:</b> 5.5% per annum</li>
              <li><b>12 months (1 year):</b> 12% per annum</li>
              <li><b>24 months (2 years):</b> 14% per annum</li>
              <li><b>60 months (5 years):</b> 17% per annum</li>
              <li><b>120 months (10 years):</b> 20% per annum</li>
              <li><b>240 months (20 years):</b> 24% per annum</li>
            </ul>
      {% if session.user['sb']!=-1 %}
       <form method="post" action="{{ url_for('views.cl_t_btn') }}">
          <br><center><button type="submit" style="background-color: #4c98af; height: 100%; width: 100%; cursor: pointer; color: white"><b>Transfer loan amount to savings bank account</b></button></center>
       </form>
     {% endif %}
     <br>
              <center><details><summary style="font-family: 'Courier New'"><b>Enter amount and choose time period</b></summary>
              <form method="post" action="{{ url_for('views.carloan_btn') }}">
              <fieldset>
                  <center><div class="form-group">
                  <label for="Amount" style="color: #4f5769;"><b>Enter Amount:</b></label>
                  <input type="number" min="0" max="150000000" class="form-control" id="Amount" placeholder="Enter Amount" name="loan_amt" required>
                </div></center>
              <ul>
                <li>
                  <label for="3months"><font style="font-family: 'Courier New'">3 months</font><input type="radio" id="3months" name="time_period" value="3months" /></label>

                </li>
                <li>
                  <label for="6months"><font style="font-family: 'Courier New'">6 months</font><input type="radio" id="6months" name="time_period" value="6months" /></label>
                </li>
               <li>
                 <label for="1year"><font style="font-family: 'Courier New'">1 year</font><input type="radio" id="1year" name="time_period" value="1year" /></label>
                </li>
                <li>
                 <label for="2years"><font style="font-family: 'Courier New'">2 years</font><input type="radio" id="2years" name="time_period" value="2years" /></label>
                </li>
                <li>
                 <label for="5years"><font style="font-family: 'Courier New'">5 years</font><input type="radio" id="5years" name="time_period" value="5years" /></label>
                </li>
                <li>
                 <label for="10years"><font style="font-family: 'Courier New'">10 years</font><input type="radio" id="10years" name="time_period" value="10years" /></label>
                </li>
                <li>
                 <label for="20years"><font style="font-family: 'Courier New'">20 years</font><input type="radio" id="20years" name="time_period" value="20years" /></label>
                </li>
                <br><center><button type="submit" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;">Confirm Car loan application</a></b></button></center>
             </ul>
            </fieldset>
         </form>
        </details></center><br><br>
        {% if session.get('c_loan')==True %}
          <dialog open style="width: 95%; height: 90px; top: 610px; left: 0; border: 2px solid rgb(0, 0, 0); border-radius: 12px;; background-color: rgb(148, 201, 146); box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <form method="dialog" open>
              <center> <button class="Close-button" aria-label="Close" style="background-color: rgb(157, 194, 141); border-radius: 12px; color: rgb(255, 255, 255); cursor: pointer;"><b>Close</b></button></center>
              <center><p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(0, 0, 0);font-size: 20px; padding-left: 20px;"><b>Car loan application successful</b></p></center>
          </dialog>
          {% set dummy=session.pop('c_loan') %}
        {% endif %}
          </div>
        </div>
      </div>
    <br><br><br><br>
{% endblock %}

<!-- Footer -->
{% block footer %}{{ super() }}{% endblock %}
</body>
</html>