{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block scripts %}<link rel="stylesheet" type="text/css" href="../static/styles/homeloan.css">{{ super() }}
  <title>Apply for a Home Loan</title>
</head>
<body style="background-color: #a0d5df;">
  {% endblock %}
  <!-- Navbar -->
  {% block navbar %}
    {{ super() }}
  
  <!-- Content -->
  <div class="col-sm-8">
    <div class="summary flex">
      <h1 style="font-family: 'Courier New'"><center><b>HOME LOAN</b></center></h1>
    </div>
  </div>
  <br><br><br>
  <div class="card">
    <div class="card-body">
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>APPLY FOR A HOME LOAN</b></center></h1>
            <h2 style="font-family: 'Courier New'"><center><b>Prerequisites:</b></center></h2>
            <ul style="font-family: 'Courier New'">
              <li><b>Age:</b> <b>You must be at least 18 years old.</b></li>
              <li><b>Income:</b> <b>You must have a stable source of income.</b></li>
              <li><b>Accounts:</b> <b><u>You must have a savings account under our bank.</u></b></li>
              <li><b>Credit Score:</b> <b>A good credit score is essential.</b></li>
              <li><b>Property Documents:</b> <b>You must have the necessary property documents ready.</b></li>
            </ul>
            <h3 style="font-family: 'Courier New'"><center><b>Interest rates are as follows:</b></center></h3>
            <ul style="font-family: 'Courier New'">
              <li><b>3 months:</b> 5% per annum</li>
              <li><b>6 months:</b> 5.5% per annum</li>
              <li><b>1 year:</b> 12% per annum</li>
              <li><b>2 years:</b> 14% per annum</li>
              <li><b>5 years:</b> 17% per annum</li>
              <li><b>10 years:</b> 20% per annum</li>
              <li><b>20 years:</b> 24% per annum</li>
            </ul>
              <center><details><summary style="font-family: 'Courier New'"><b>Enter amount and choose time period</b></summary>
              <form method="post" action="{{ url_for('views.homeloan_btn') }}">
              <fieldset>
                  <center><div class="form-group">
                  <label for="Amount" style="color: #4f5769;"><b>Enter Amount:</b></label>
                  <input name="loan_amt" type="number" min="0" max="150000000" class="form-control" id="Amount" placeholder="Enter Amount" required>
                  </div></center>
              <ul>
                <li>
                  <label for="3months"><font style="font-family: 'Courier New'">3 months</font><input type="radio" id="3months" name="time_period" value="3" /></label>

                </li>
                <li>
                  <label for="6months"><font style="font-family: 'Courier New'">6 months</font><input type="radio" id="6months" name="time_period" value="6" /></label>
                </li>
               <li>
                 <label for="1year"><font style="font-family: 'Courier New'">1 year</font><input type="radio" id="1year" name="time_period" value="12" /></label>
                </li>
                <li>
                 <label for="2years"><font style="font-family: 'Courier New'">2 years</font><input type="radio" id="2years" name="time_period" value="24" /></label>
                </li>
                <li>
                 <label for="5years"><font style="font-family: 'Courier New'">5 years</font><input type="radio" id="5years" name="time_period" value="60" /></label>
                </li>
                <li>
                 <label for="10years"><font style="font-family: 'Courier New'">10 years</font><input type="radio" id="10years" name="time_period" value="120" /></label>
                </li>
                <li>
                 <label for="20years"><font style="font-family: 'Courier New'">20 years</font><input type="radio" id="20years" name="time_period" value="240" /></label>
                </li>
                <br><center><button type="submit" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;">Confirm Home loan application</a></b></button></center>
             </ul>
            </fieldset>
         </form>
          {% if session.get('h_loan')==True %}
            <dialog open style="width: 95%; height: 90px; top: 343px; left: 0; border: 2px solid rgb(0, 0, 0); border-radius: 12px;; background-color: rgb(148, 201, 146); box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
              <form method="dialog" open>
                <center> <button class="Close-button" aria-label="Close" style="background-color: rgb(157, 194, 141); border-radius: 12px; color: rgb(255, 255, 255); cursor: pointer;"><b>Close</b></button></center>
                <center><p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(0, 0, 0);font-size: 20px;"><b>Home loan successful</b></p></center>
            </dialog>
            {% set dummy=session.pop('h_loan') %}
        </details></center><br><br>
          </div>
          </div>
        </div>
      </div>
    <br><br><br><br>
  {% endblock %}
<!-- Footer -->
{% block footer %}{{ super() }}{% endblock %}

</body>
</html>