{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block scripts %}{{ super() }}{% endblock %}

  <title>Home | Shimmy Shimmy Bank</title>
</head>
<body style="background-color: #f5f6fa;">
{% block navbar %}{{ super() }}
  <!-- Content -->
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="summary flex">
            <div class="profile flex">
            <img src="../static/images/indexeyes.png">
                <div class="overlay">
                  {% if session.get('login')==True %}
                    <dialog open style="border: 2px solid rgb(121, 201, 201); border-radius: 12px; padding: 20px; background-color: rgb(223, 252, 190); box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                      <form method="dialog">
                        <button class="Close-button" aria-label="Close" style="background-color: rgb(121, 201, 201); border-radius: 12px; color: rgb(255, 255, 255); cursor: pointer;"><b>Close</b></button>
                      <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>You have successfully logged in. Welcome to Shimmy Shimmy Bank©, {{ session.get('username') }}. This bank is your one stop solution for all your financial needs.</b></p>
                    </dialog>
                    {% set dummy=session.pop('login') %}
                  {% endif %}
                <div class="text-block">
                  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>WELCOME TO SHIMMY SHIMMY BANK©.</b></h1>
                  <br><h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Your trusted financial partner</b></h1>
                  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Instant, safe, and reliable.</b></h1>
                 </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Footer -->
{% block footer %}{{ super() }}{% endblock %}
</body>
</html>