{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block scripts %}<link rel="stylesheet" type="text/css" href="../static/styles/ourservices.css">{{ super() }}
  <title>Our Services</title>
</head>
<body style="background-color: #a0d5df;">
  {% endblock %}
  <!-- Navbar -->
  {% block navbar %}
    {{ super() }}

  <!-- Content -->
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="summary flex">
            <div class="profile flex">
            <img src="../static/images/indexeyes.png">
                <div class="text-block">
                  <h1><b>Scroll down to view services
                    <center>↓</center></b></h1>
                 </div>
          </div></div></div></div>
  <br><br><br>
  <div class="card">
    <div class="card-body">
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>LOANS</b></center></h1>
            <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/homeloan"> Home Loan </a></b></button></center>
            <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/carloan">Car Loan</a></b></button></center><br><br>
          </div>
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>TRANSACTION CENTER</b></center></h1>
            {% if session.user.sb!=-1 %}
                <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/transfer"> Transfer within Bank  </a></b></button></center>
                <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/withdraw"> Withdraw </a></b></button></center>
                <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/deposit"> Deposit </a></b></button></center><br>
            {% else %}
              <p>Please create an account to withdraw or transfer</p>
            {% endif %}
          </div>
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>TRANSACTION HISTORY</b></center></h1>
            {% if session.user.sb!=-1 %}  
              <center><button type="button" class="btn btn-info" @click="submitForm"><b><a style="text-decoration: none;color: white;" href="/transhistsav">View Transactions</a></b></button></center>
            {% else %}
              <p>Please create an account to view transaction history</p>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
  <br><br><br><br>
<!-- Footer -->
{% endblock %}
</body>
</html>