{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block scripts %}<link rel="stylesheet" type="text/css" href="../static/styles/transfer.css">{{ super() }}
  <title>View Savings Transaction History</title>
</head>
<body style="background-color: #a0d5df;">
{% endblock %}
  <!-- Navbar -->
  {% block navbar %}
    {{ super() }}
  <!-- Content -->
  <br><br><br>
  <div class="card">
    <div class="card-body">
          <div>
            <h1 style="font-family: 'Courier New'"><center><b>TRANSACTION HISTORY</b></center></h1>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border: 2px solid black;">Date</th>
                            <th style="border: 2px solid black;">Transaction ID</th>
                            <th style="border: 2px solid black;">Amount</th>
                            <th style="border: 2px solid black;">Particular</th>
                            <th style="border: 2px solid black;">Balance</th>
                            <th style="border: 2px solid black;">To/From</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in lasvegas %}
                        <tr>
                            <td style="border: 2px solid black;">{{ i[0] }}</td>
                            <td style="border: 2px solid black;">{{ i[4] }}</td>
                            <td style="border: 2px solid black;">{{ i[1] }}</td>
                            <td style="border: 2px solid black;">{{ i[2] }}</td>
                            <td style="border: 2px solid black;">{{ i[3] }}</td>
                            <td style="border: 2px solid black;">{{ i[5] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
          <center><button type="button" class="btn btn-info" @click="submitForm"><b><a href="/ourservices" style="text-decoration: none;color: white;">Go back to services</a></b></button></center><br><br>
          </div>
          </div>
        </div>
      </div>
  {% if lasvegas==[] %}
      <br><br><br><br><br><br><br><br><br>
  {% endif %}
  {% if lasvegas|length == 1 %}
      <br><br><br><br><br>
  {% endif %}
  {% if lasvegas|length == 2 %}
      <br><br>
  {% endif %}
  <br><br><br><br><br><br><br><br><br><br><br><br>
  {% endblock %}
<!-- Footer -->
{% block footer %}{{ super() }}{% endblock %}
</body>
</html>